*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(219, 226, 226);
}

.row{
   background-color: #fff;
   border-radius: 3rem;
   object-fit: cover;
   box-shadow: 12px 12px 22px gray;
}

img{
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  width: 100%;
}

.no-gutter {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.no-gutter > [class*="col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
